/*@import url('https://fonts.googleapis.com/css?family=Nunito:400,900');*/

:root {
    --header-color: #3b5bdb;
    --sidebar-color: #fab005;
    --content-color: #d6336c;
    --footer-color: #0ca678;
}

* {
    box-sizing: border-box;
}

html, body, frameset {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    font-family: Nunito, sans-serif;
    font-weight: 900;
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 6rem;
    color: #3b5bdb;
    padding: 1rem 2rem;
}

a:hover {
    background-color: #ffec99;
}

.logo {
    position: fixed;
    bottom: 0;
    left: 35vw;
    width: 30vw;
    background-color: #fff;
    padding: 2rem 3rem;
}

.logo-small {
    position: fixed;
    bottom: 0;
    right: 10vw;
    width: 10vw;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.24);
}

#indexPage, #holygrailPage {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #329af0;
}

#holygrailPage {
    flex-direction: row;
    justify-content: space-around;
}

.title, .subtitle {
    display: block;
}

.title {
    font-size: 6rem;
}

.subtitle {
    font-size: 4rem;
}

#framesetPage {
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3rem;

    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.24);
    border-radius: 1rem;

    float: left;
    width: 16rem;
    height: 20rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.header, .sidebar, .content, .footer {
    padding: 2rem;
}

.header {
    background-color: var(--header-color);
}

.sidebar {
    background-color: var(--sidebar-color);
}

.content {
    background-color: var(--content-color);
}

.footer {
    background-color: var(--footer-color);
}

.menu {
    position: fixed;
    right: 1rem;
    top: 0;
    padding: 0.5rem 0;
    background-color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.24);
}

.menu a {
    font-weight: 400;
    font-size: 0.875rem;
    padding: 0.5rem;
}

.menu a:hover {
    background-color: transparent;
    text-decoration: underline;
}

.overlay {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
}

.overlay .title {
    font-size: 10rem;
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.64);
}

.overlay .subtitle {
    font-size: 6rem;
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.64);
}

.overlay.frameset {
    background-image: url(dinosaurs.jpg);
}

.overlay.tables {
    background-image: url(the_intervention_of_the_sabine_women.jpg);
}

.overlay.divs {
    background-image: url(landing-of-columbus.jpg);
}

.overlay.flexbox {
    background-image: url(apollo-11-landing.jpg);
}

.overlay.grid {
    background-image: url(cyberpunk-2077.jpg);
}
