body {
    display: flex;
    flex-wrap: wrap;
}

.header {
    flex-basis: 100%;
    height: 6rem;
}

.sidebar {
    flex-basis: 16rem;
}

.content {
    flex-basis: calc(100% - 16rem);
}

.footer {
    flex-basis: 100%;
    height: 6rem;
}

@media screen and (max-width: 600px) {
    .sidebar {
        flex-basis: 100%;
    }
    .content {
        flex-basis: 100%;
    }
}
