
body {
    display: grid;


    grid-template-areas: "HED HED"
                         "SID CNT"
                         "FOT FOT";


    grid-template-columns: 16rem 1fr;
    grid-template-rows: 6rem 1fr 6rem;
    min-height: 100vh;
}






.header {
    grid-area: HED;
}

.sidebar {
    grid-area: SID;
}

.content {
    grid-area: CNT;
}

.footer {
    grid-area: FOT;
}






.content {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-auto-rows: minmax(6rem, 10rem);
    grid-gap: 4rem;
}


.grid-box {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: black;
    border-radius: 1rem;
    font-size: 3rem;
}




.grid-box.span-box {
    grid-column-start: 1;
    grid-column-end:  4;
    grid-row-start: 1;
    grid-row-end: span 3;
    background-color: greenyellow;
}




.grid-box.span-box-vertical {
    grid-row-start: 0;
    grid-row-end: span 2;
    background-color: aqua;
}




.grid-box.span-box-horizontal {
    grid-column-start: 0;
    grid-column-end: span 3;
    background-color: yellow;
}




/*@media screen and (max-width: 768px) {*/
    /*body {*/
        /*grid-template-areas: "HED"*/
                             /*"SID"*/
                             /*"CNT"*/
                             /*"FOT";*/
        /*grid-template-columns: 1fr;*/
        /*grid-template-rows: 6rem 6rem 1fr 6rem;*/
    /*}*/
/*}*/
